The reality turned out to be tougher than he imagined. “I saw it as a two-year opportunity,” says Mr Ravenscroft. “The grinding reality is that it’s a slog.” Moreover, his mentor worked at Lehman Brothers, the bank that collapsed in 2008. “It wasn’t quite as long a mentoring relationship as I’d hoped,” he laughs.
但现实远比他想象的艰难。雷文斯克罗夫特表示：“我曾以为这就是一个机会，要花掉两年，但现实是严峻的，因为这活不好干。”此外，他的导师在雷曼兄弟(Lehman Brothers)工作，这家银行于2008年破产。他大笑着说：“这段指导关系持续的时间没有我希望的那么长。”
Mr Ravenscroft ended up leaving teaching to found Enabling Enterprise, a body that seeks to bridge the gulf between schools and business by taking pupils out of the classroom and giving them practical projects and visits to businesses, including UBS, the bank, and Freshfields, the law firm.
雷文斯克罗夫特最终不再从事教学工作，他创办了Enabling Enterprise，这是一家寻求减轻学校和企业脱节现象的机构，它让学生走出教室，从事实践项目并实地探访包括瑞银(UBS)和富而德律所(Freshfields)在内的企业。
But he sees his time in the classroom as invaluable, crediting it with having given him a resilience that he now draws on in the latest phase of his career.
但他认为自己任教的经历非常宝贵，可以让他很快适应新的职业阶段。
When it was set up in 2002, Teach First’s aim was to encourage more graduates to try teach-ing. Amid worries that the best brains in the country were being lured into the City of London, accountancy and law, the idea was to tap some of their brain power for state schools, in an attempt to tackle educational inequality.
Teach First在2002年创立之初的目标是鼓励更多的毕业生尝试教学。由于担心该国最优秀的人才都被吸引至伦敦金融城、会计和法律行业，它希望为公立学校培养一些人才，以解决教育不平等问题。
Since then, Teach First has put 5,000 graduates into schools, working with more than 1m pupils in low-income areas, helping to raise standards in classrooms, particularly London.
Teach First自成立以来将5000名毕业生送入学校任教，与低收入地区的逾100万学生合作，帮助提高了教学质量，尤其是伦敦地区的教学质量。
Recruits are expected to have a decent degree result — a 2.1 or above. While academic credentials are important, Teach First also looks for personal skills such as humility, respect and empathy. Applications to join the scheme outnumber the places available by seven to one.
新职员有望获得一个体面的成绩单——2.1甚至更高。尽管学历证书很重要，但Teach First也希望培养谦逊、尊敬他人和同理心等个人品质。该项目的申请数量是可提供职位的7倍。
The advantages for schools seem clear: they enjoy the benefits of bright graduates who would otherwise have gone straight into consulting.
学校获得的好处似乎显而易见：它们有了优秀的毕业生任教，否则这些学生将会直接进入咨询行业。
The collaboration with business is important, adds Teach First, not just for the funding but to help schools equip students with more of the skills required by modern employers.
Teach First补充称，与企业的合作非常重要，这不仅是因为资金问题，还因为这能帮助学校让学生掌握现代雇主所需要的更多技巧。